.section{
    padding: 50px 0px;
    font-family: "Inter";
}
.whiteSpace{
    margin-top: 20px;
}
.footerLogo{
    color: #00050E !important;
    font-size: 22px;
    cursor: pointer;
    text-decoration: none;
    line-height: 2em;
}
.text{
    margin-left: 10px;
   
}
.img2{
    max-width: 160px;
}
.scl{
    margin-top: 30px;
}
.sclImage{
    max-width: 45px;
}
.sclText{
    font-family: "Mont";
    font-size: 14px;
    color: #00050E;
    line-height: 1.6rem;
    margin-top: 5px;
    text-align: left;
    margin-left: 5px;
}
.footerText{
    font-family: "Mont";
    font-size: 12px;
    color: #00050E;
}
.footerGroup{
    list-style-type: none;
    width: max-content;
    text-align: left;
}
.footerTitle{
    font-family: "MontSmBd";
    color: #004FEE;
    margin-bottom: 15px;
    margin-top: 20px;
}
.footerList{
    margin-top: 10px;
}
.footerList a{
    font-family: "Mont" !important;
    font-size: 14px !important;
    color: #00050E !important;
    text-decoration: none;
}
.footergroupEarn{
    margin-bottom: 30px;
    list-style-type: none;
    width: max-content;
    text-align: left;
}
.setnightmodebtn{
    border-radius: 5px !important;
    border-width: 2px;
    margin-top: 10px;
    padding: 3px 6px;
    color: #004FEE !important;
    border-color: #004FEE;
    background-color: #FFF !important;
    min-width: auto;
}
.setnightmodebtn:hover{
    border-radius: 5px !important;
    border-width: 2px;
    margin-top: 10px;
    padding: 3px 6px;
    color: #004FEE !important;
    border-color: #004FEE;
    background-color: #FFF !important;
    min-width: auto;
}
.sclFooterImage{
 max-width: 45px;   
}
.footerLogo1{
    max-width: 160px;
}
.footerlogo{
    font-family: Mont;
    color: #00050E !important;
    font-size: 22px;
    text-decoration: none;
    line-height: 2em;
}
a{
    text-decoration: none;
    color: black;
}
.footerText{
    font-family: "Mont";
    font-size: 14px;
    color: #00050E;
    line-height: 1.6rem;
    margin-top: 5px;
    margin-left: 5px;
}
.bottomIcon{
    position: fixed;
    bottom: 20px;
    right:30px;
    font-size: 30px;
    border-radius: 50%;
    border: 2px solid grey;
    color: grey;
    cursor: pointer;
}